* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 75px;
  color: white;
  padding: 20px;
  justify-content: space-between;
}

.header-button{
  border-radius: 5px;
  padding: 2px;
}

.header-image {
  height: 100%;
  margin-right: 6px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header-project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
} 

.form-button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.form-label{
margin-bottom: 5px;
margin-right: 10px;
}
 
.image-container{
  position: relative;
  padding-top: 30px;
 }

.meme-image{
  width: 35%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dark-mode {
  background-color: rgb(0, 0, 0);
}
